<a href="https://colab.research.google.com/github/nessamariano/assignment-estatista-inferencial-DNC/blob/main/assignment_estatistica_inferencial_dnc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assingment de Estat√≠stica Inferencial

Aluna: Vanessa Mariano da Silva

![image.png]()

Importando as bibliotecas

In [ ]:
import pandas as pd
import numpy as np
#from sklearn import datasets

Lendo o arquivo csv disponibilizado no .zip

In [ ]:
iris_df = pd.read_csv("https://raw.githubusercontent.com/nessamariano/assignment-estatista-inferencial-DNC/main/iris.csv")

# ou lendo direto 
#iris_df = pd.DataFrame(datasets.load_iris().data)
#iris_df.columns = datasets.load_iris().feature_names

In [ ]:
iris_df.shape

(150, 7)

O arquivo possui 150 linhas e 7 colunas

In [ ]:
iris_df.head() # exibindo as 5 primeiras linhas e conhecendo o dataset

,Unnamed: 0,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
0,0,5.1,3.5,1.4,0.2,0,setosa
1,1,4.9,3.0,1.4,0.2,0,setosa
2,2,4.7,3.2,1.3,0.2,0,setosa
3,3,4.6,3.1,1.5,0.2,0,setosa
4,4,5.0,3.6,1.4,0.2,0,setosa

Levantando informa√ß√µes sobre dados nulos e tipos de vari√°veis

In [ ]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         150 non-null    int64
 1   sepal length (cm)  150 non-null    float64
 2   sepal width (cm)   150 non-null    float64
 3   petal length (cm)  150 non-null    float64
 4   petal width (cm)   150 non-null    float64
 5   target             150 non-null    int64
 6   target_name        150 non-null    object
dtypes: float64(4), int64(2), object(1)
memory usage: 8.3+ KB

In [ ]:
iris_df.set_index('Unnamed: 0', inplace=True)

In [ ]:
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
Unnamed: 0,,,,,,
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

Amostragem aleat√≥ria simples com 20 amostras

In [ ]:
# M√©todo de Amostragem
n_amostra = 20
n_iris = iris_df.shape

In [ ]:
# Amostragem Simples (Amostra totalmente aleat√≥ria)
simples = iris_df.sample(n_amostra)

In [ ]:
simples

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
Unnamed: 0,,,,,,
100,6.3,3.3,6.0,2.5,2,virginica
108,6.7,2.5,5.8,1.8,2,virginica
120,6.9,3.2,5.7,2.3,2,virginica
74,6.4,2.9,4.3,1.3,1,versicolor
136,6.3,3.4,5.6,2.4,2,virginica
102,7.1,3.0,5.9,2.1,2,virginica
17,5.1,3.5,1.4,0.3,0,setosa
27,5.2,3.5,1.5,0.2,0,setosa
69,5.6,2.5,3.9,1.1,1,versicolor
60,5.0,2.0,3.5,1.0,1,versicolor
129,7.2,3.0,5.8,1.6,2,virginica
104,6.5,3.0,5.8,2.2,2,virginica
41,4.5,2.3,1.3,0.3,0,setosa
72,6.3,2.5,4.9,1.5,1,versicolor
110,6.5,3.2,5.1,2.0,2,virginica
140,6.7,3.1,5.6,2.4,2,virginica
133,6.3,2.8,5.1,1.5,2,virginica
23,5.1,3.3,1.7,0.5,0,setosa
93,5.0,2.3,3.3,1.0,1,versicolor
141,6.9,3.1,5.1,2.3,2,virginica

Amostragem de Julgamento

Itens com 'petal width' maior que 2.0 cm

In [ ]:
amostra_julg = iris_df.loc[(iris_df['petal width (cm)'] >  2.0 )]
amostra_julg.shape

(23, 6)

In [ ]:
amostra_julg

# todas as amostras s√£o da esp√©cie Virginica

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
Unnamed: 0,,,,,,
100,6.3,3.3,6.0,2.5,2,virginica
102,7.1,3.0,5.9,2.1,2,virginica
104,6.5,3.0,5.8,2.2,2,virginica
105,7.6,3.0,6.6,2.1,2,virginica
109,7.2,3.6,6.1,2.5,2,virginica
112,6.8,3.0,5.5,2.1,2,virginica
114,5.8,2.8,5.1,2.4,2,virginica
115,6.4,3.2,5.3,2.3,2,virginica
117,7.7,3.8,6.7,2.2,2,virginica
118,7.7,2.6,6.9,2.3,2,virginica
120,6.9,3.2,5.7,2.3,2,virginica
124,6.7,3.3,5.7,2.1,2,virginica
128,6.4,2.8,5.6,2.1,2,virginica
132,6.4,2.8,5.6,2.2,2,virginica
135,7.7,3.0,6.1,2.3,2,virginica
136,6.3,3.4,5.6,2.4,2,virginica
139,6.9,3.1,5.4,2.1,2,virginica
140,6.7,3.1,5.6,2.4,2,virginica
141,6.9,3.1,5.1,2.3,2,virginica
143,6.8,3.2,5.9,2.3,2,virginica
144,6.7,3.3,5.7,2.5,2,virginica
145,6.7,3.0,5.2,2.3,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica

Amostra de conveni√™ncia

Primeiros 30 itens

In [ ]:
iris_df.head(30)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
Unnamed: 0,,,,,,
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
5,5.4,3.9,1.7,0.4,0,setosa
6,4.6,3.4,1.4,0.3,0,setosa
7,5.0,3.4,1.5,0.2,0,setosa
8,4.4,2.9,1.4,0.2,0,setosa
9,4.9,3.1,1.5,0.1,0,setosa
10,5.4,3.7,1.5,0.2,0,setosa
11,4.8,3.4,1.6,0.2,0,setosa
12,4.8,3.0,1.4,0.1,0,setosa
13,4.3,3.0,1.1,0.1,0,setosa
14,5.8,4.0,1.2,0.2,0,setosa
15,5.7,4.4,1.5,0.4,0,setosa
16,5.4,3.9,1.3,0.4,0,setosa
17,5.1,3.5,1.4,0.3,0,setosa
18,5.7,3.8,1.7,0.3,0,setosa
19,5.1,3.8,1.5,0.3,0,setosa
20,5.4,3.4,1.7,0.2,0,setosa
21,5.1,3.7,1.5,0.4,0,setosa
22,4.6,3.6,1.0,0.2,0,setosa
23,5.1,3.3,1.7,0.5,0,setosa
24,4.8,3.4,1.9,0.2,0,setosa
25,5.0,3.0,1.6,0.2,0,setosa
26,5.0,3.4,1.6,0.4,0,setosa
27,5.2,3.5,1.5,0.2,0,setosa
28,5.2,3.4,1.4,0.2,0,setosa
29,4.7,3.2,1.6,0.2,0,setosa